/*  ##############################################
    #####   Only handwritten code allowed.   #####
    ########################################### */

header {
    height: flex;
}

main {
    display: grid;
    grid-template-columns: auto auto auto;
}

.section-settings, .section-saving {
    width: clamp(100px, 20vw, 300px);
} 

.setting h1, .saving h1 {
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
}

.setting h2, .saving h2 {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

input[type=number]{
    width: 50;
    min-width: 0;
}

#canvas {
    display:grid;
    grid-template-columns: none;
    /*padding: 10px;*/
}

/* Pixels */

.pixel-full {
    height: 40px;
    width: 40px;
    background:lightgray;
}

.pixel-corner {
    font-size: 10px;
    height: 20px;
    width: 20px;
    background-color: lightpink;
}

.pixel-corner-SE {
    translate: 100% 0;
    background: rgba(0, 255, 255, 0.5);
}

.pixel-corner-NE {
    translate: 100% -200% ;
    background: rgba(255, 0, 255, 0.5);
}

.pixel-corner-NW {
    translate: 0% -300%;
    background: rgba(255, 255, 0, 0.5);
}

.pixel-corner-SW {
    translate: 0% -300%;
    background: rgba(0, 0, 0, 0.5);
}