/*  ##############################################
    #####   Only handwritten code allowed.   #####
    ########################################### */

header {
    height: flex;
    padding: 10px;
    padding-left: 20px;
    border-bottom: 2px solid;
    border-color: grey;
    background: rgba(127, 127, 127, 0.2);
}

.app-title {
    font-size: 40px;
}

main {
    display: grid;
    grid-template-columns: auto auto auto;

    background: rgba(127, 127, 127, 0.5);
}

footer {
    height: flex;
    border-top: 2px solid;
    border-color: grey;
}

.section-settings, .section-saving {
    width: clamp(200px, 20vw, 300px);
    border-right: 2px solid;
    border-left: 2px solid;
    border-color: grey;
} 

.scroll-section {
    padding: 20px;
}

.section-title {
    font-size: 24px;
}

.setting h1, .saving h1 {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.setting h2, .saving h2 {
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}

.setting, .saving {
    border-left: 5px solid;
    border-color: black;
    margin-bottom: 20px;
    padding: 0px 10px 0px;
}

input[type=number]{
    width: 50;
    min-width: 0;
}

#saving-width {
    width: 70;
}

/* Pixels */

#canvas {
    display:grid;
    grid-template-columns: none;
    padding: 50px;
}

.pixel-full {
    height: 40px;
    width: 40px;
    background:lightgray;
}

.pixel-corner {
    font-size: 10px;
    height: 20px;
    width: 20px;
    background: lightpink;
}

.pixel-corner-SE {
    translate: 100% 0;
    background: rgba(0, 255, 255, 0.5);
}

.pixel-corner-NE {
    translate: 100% -200% ;
    background: rgba(255, 0, 255, 0.5);
}

.pixel-corner-NW {
    translate: 0% -300%;
    background: rgba(255, 255, 0, 0.5);
}

.pixel-corner-SW {
    translate: 0% -300%;
    background: rgba(0, 0, 0, 0.5);
}